/* WATS 3020 Mad Libs Assignment */

body {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-weight: bold;
}

p.madLibsInstructions {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

form {
    display: float;
    width: 85%;
    margin: 0 auto;
}

form p{
    line-height: 1.5rem;
}

input {
    margin-left: 1rem;
}

input:nth-last-of-type(2) {
    margin-left: 0;
    padding: 0.5rem;
    font-weight: bold;
}

p:last-of-type input:nth-last-of-type(1) {
    margin-left: 4rem;
    padding: 0.5rem;
    font-weight: bold;
}