/* WATS 3020 Mad Libs Assignment */

body {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-weight: bold;
}

p.madLibsInstructions {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

form {
    display: float;
    width: 85%;
    padding: 1rem;
    margin: 0 auto;
}